<form class="form-horizontal" method="get" action="/quizes">
  <div class="form-group">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-7">
      <input type="text" name="search" id="search" class="form-control" value="<%= search %>" />
    </div>
    <button type="submit" class="btn btn-default col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-2">Filtrar</button>
  </div>
</form>

<div class='col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2'>
  <ul class="list-group">
    <% quizes.forEach(function(quiz) { %>
      <li class="list-group-item">
        <form method="post" class="form-horizontal" action="/quizes/<%= quiz.id %>?_method=delete">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
          <a href="/quizes/<%= quiz.id %>"><%= quiz.pregunta %></a>
          <span class="pull-right btn-toolbar">
            <button type="button" class="pull-right btn btn-xs btn-default text-danger" data-toggle="modal" data-target="#confirmDlg" data-title="Borrar pregunta '<%= quiz.pregunta %>'" data-message='¿Estás seguro?' data-btn-class='btn-danger'>
              <span class="glyphicon glyphicon-trash"></span>
            </button>
            <a href="/quizes/<%= quiz.id %>/edit" class="pull-right btn btn-xs btn-default text-success">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </span>
        </form>
      </li>
    <% }); %>
  </ul>
</div>

<a href="quizes/new" class="btn btn-default col-xs-12 col-sm-offset-4 col-sm-4">Crear pregunta</a>
