<div class='col-xs-12 col-sm-11'>
  <div class="row">
    <h4 class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-4">Tema: <%= quiz.tema %></h4>
  </div>
  <form class="form-horizontal" method="get" action="/quizes/<%= quiz.id %>/answer">
    <div class="form-group">
      <label for="respuesta" class="control-label col-xs-12 col-sm-4">Pregunta: <%= quiz.pregunta %></label>
      <div class="col-xs-12 col-sm-6">
        <input type="text" name="respuesta" id="respuesta" class="form-control" />
      </div>
      <button type="submit" class="btn btn-success col-xs-12 col-sm-2">Enviar</button>
    </div>
  </form>
  <div class="col-xs-12 hidden-xs" style="height:50px;"></div>
  <div class="row">
    <% if (quiz.Comments.length === 0) { %>
      <h4 class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-4">
        No hay comentarios
      </h4>
    <% } else { %>
      <h4 class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-4">
        <% if (session.user) { %>
          Hay <%= quiz.Comments.length %> comentario(s):
        <% } else { %>
          Comentario(s):
        <% } %>
      </h4>
    <% } %>
    <a href="/quizes/<%= quiz.id %>/comments/new" class="btn btn-info col-xs-12 col-sm-2">Nuevo comentario</a>
  </div>
  <ul class="list-group">
    <% quiz.Comments.forEach(function (comment) { %>
      <% if (comment.publicado || session.user) { %>
        <li class="list-group-item col-xs-12 col-sm-9 col-sm-offset-3">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <%= comment.texto %>
          <% if (!comment.publicado) { %>
            <a href="/quizes/<%= quiz.id %>/comments/<%= comment.id %>/publish" class="btn btn-success btn-xs pull-right">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
          <% } %>
        </li>
      <% } %>
    <% }); %>
  </ul>
</div>
